<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNPLUGGED</title>
    <link rel="stylesheet" th:href="@{/css/userList.css}">
</head>
<body>

<div class="info_modal">
    <div class="modal-top">
        <div class="modal-title">상세보기</div>
    </div>
    <div class="modal-body">
        <div class="left">
            <div class="info">
                <p class="info_text">이름</p>
                <p class="info_data">조찬호</p>
            </div>
            <div class="info">
                <p class="info_text">성별</p>
                <p class="info_data">남</p>
            </div>
            <div class="info">
                <p class="info_text">아이디</p>
                <p class="info_data">admin</p>
            </div>
            <div class="info">
                <p class="info_text">학과</p>
                <p class="info_data">소프트웨어학과</p>
            </div>
            <div class="info">
                <p class="info_text">학번</p>
                <p class="info_data">20181621</p>
            </div>
            <div class="info">
                <p class="info_text">연락처</p>
                <p class="info_data">010-4542-7544</p>
            </div>
            <div class="info">
                <p class="info_text">기수</p>
                <p class="info_data">U26</p>
            </div>
            <div class="info">
                <p class="info_text">세션</p>
                <p class="info_data">드럼</p>
            </div>
            <div class="info">
                <p class="info_text">직책</p>
                <p class="info_data">간부</p>
            </div>
            <div class="info">
                <p class="info_text">생년월일</p>
                <p class="info_data">1999-02-26</p>
            </div>
            <div class="info">
                <p class="info_text">가입일</p>
                <p class="info_data">2022-11-10</p>
            </div>
        </div>
        <div class="right">
            <div class="profile-userList">
                <img class="check" src="/img/profile.png" width="120" height="120"/>
            </div>
            <div class="profile-change">
                <p id="profile-tag">프로필 사진</p>
            </div>
        </div>
    </div>
    <div class="modal-foot">
        <a class="modal-btn" id="modal-btn"><label class="modal-check">뒤로가기</label></a>
    </div>
</div>

<div class="modal2">
</div>
<!-- HEADER -->
<div th:insert="common/header.html" class="header"></div>

<div class="body">
    <div id="table">
        <table>
            <thead>
            <tr id="thead">
                <th class="name">이름</th>
                <th class="phone">연락처</th>
                <th class="year">기수</th>
                <th class="session">세션</th>
                <th class="position">직책</th>
            </tr>
            <tr th:each="user : ${userList}">
                <td class="name" id="name">
                    <span th:text="${user.name}" class="info_detail"></span>
                </td>
                <td class="phone" id="phone">
                    <span th:text="${user.phone}" class="phone_copy"></span>
                </td>
                <td class="year">
                    <span th:text="${user.year}"></span>
                </td>
                <td class="session">
                    <span th:text="${user.session}"></span>
                </td>
                <td class="position">
                    <span th:text="${user.position}"></span>
                </td>
            </tr>
            </thead>
        </table>
    </div>
</div>

<form action="/admin/userList/nameKeyword" method="GET" id="frm">
    <div class="search">
        <select id="sort" name="sort" class="sort" onchange="ChangeSelect()">
            <option name="nameKeyword" id="nameKeyword" value="nameKeyword">이름</option>
            <option name="yearKeyword" id="yearKeyword" value="yearKeyword">기수</option>
            <option name="sessionKeyword" id="sessionKeyword" value="sessionKeyword">세션</option>
            <option name="positionKeyword" id="positionKeyword" value="positionKeyword">직책</option>
        </select>
        <input class="size" name="nameKeyword" id="keyword" type="text">
        <button class="search-btn">검색</button>
    </div>
</form>

<!-- FOOTER -->
<div th:insert="common/footer.html" class="footer"></div>
<script>
    document.getElementById("title").innerText = "명단관리";

    // noinspection JSJQueryEfficiency
    $(".info_detail").click(function () {
        $(".info_modal").show();
        $(".modal2").show();
    });

    // noinspection JSJQueryEfficiency
    $(".modal2").click(function () {
        $(".info_modal").hide();
        $(".modal2").hide();
    });

    $(".modal-btn").click(function (){
        $(".info_modal").hide();
        $(".modal2").hide();
    });

    $(".phone_copy").click(function (e) {
        // div 내부 텍스트 취득
        const valOfDIV = $(e.target).text();

        navigator.clipboard.writeText(valOfDIV)

    });

    function ChangeSelect() {

        let langSelect = document.getElementById("sort");

        // select element에서 선택된 option의 value가 저장된다.
        let selectValue = langSelect.options[langSelect.selectedIndex].value;

        document.getElementById("keyword").setAttribute("name", selectValue);
        document.getElementById("frm").setAttribute("action", "/admin/userList/" + selectValue);

    }

</script>
</body>
</html>