<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>UNPLUGGED</title>
    <link rel="stylesheet" th:href="@{/css/userJoin.css}">
</head>
<body>
<!-- HEADER -->
<div th:insert="common/header.html" class="header"></div>

<div class="body">
    <div id="table">
        <table>
            <thead>
            <tr id="thead">
                <th class="name">이름</th>
                <th class="phone">연락처</th>
                <th class="year">기수</th>
                <th class="position">직책</th>
                <th class="join">승인</th>
            </tr>
            <tr th:each="user : ${userList}">
                <td class="name">
                    <span th:text="${user.name}" id="name"></span>
                </td>
                <td class="phone" id="phone">
                    <span th:text="${user.phone}"></span>
                </td>
                <td class="year">
                    <span th:text="${user.year}"></span>
                </td>
                <td class="position">
                    <span th:text="${user.position}"></span>
                </td>
                <td class="join" id="join">
                    <a href="#" id="joinO">O</a>
                    <a href="#" id="joinX">X</a>
                </td>
            </tr>
            </thead>
        </table>
    </div>
</div>

<!-- FOOTER -->
<div th:insert="common/footer.html" class="footer"></div>
<script>
    document.getElementById("title").innerText = "가입승인";

    document.getElementById("phone").onclick = function(){
        // div 내부 텍스트 취득
        const valOfDIV = document.getElementById("phone").innerText;

        // textarea 생성
        const textArea = document.createElement('textarea');

        // textarea 추가
        document.body.appendChild(textArea);

        // textara의 value값으로 div내부 텍스트값 설정
        textArea.value = valOfDIV;

        // textarea 선택 및 복사
        textArea.select();
        document.execCommand('copy');

        // textarea 제거
        document.body.removeChild(textArea);
    }

</script>
</body>
</html>