<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>UNPLUGGED</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<!-- HEADER -->
<div th:insert="common/header.html" class="header"></div>

<div class="main">
    <div class="box">
        <dl class="notice">
            <dt style="font-weight: bold">
                <div>테스트6</div>
                <a class="plus" th:href="@{/user/notice}">+ 더보기</a>
            </dt>
            <ul>
                <li><a href="#" class="main_text"><span>1</span> - now having a board</a></li>
                <li><a href="#" class="main_text"><span>2</span> - now having a board</a></li>
                <li><a href="#" class="main_text"><span>3</span> - now having a board</a></li>
                <li><a href="#" class="main_text"><span>4</span> - now having a board</a></li>
                <li><a href="#" class="main_text"><span>5</span> - now having a board</a></li>
            </ul>
        </dl>
    </div>
    <div class="box">
        <dl class="notice">
            <ul>
                <dt style="font-weight: bold">
                    <div>행사일정</div>
                    <a class="plus" th:href="@{/user/event}">+ 더보기</a>
                </dt>
                <li><a href="#" class="main_text"><span>1</span> - now having a board</a></li>
                <li><a href="#" class="main_text"><span>2</span> - now having a board</a></li>
                <li><a href="#" class="main_text"><span>3</span> - now having a board</a></li>
                <li><a href="#" class="main_text"><span>4</span> - now having a board</a></li>
                <li><a href="#" class="main_text"><span>5</span> - now having a board</a></li>
            </ul>
        </dl>
    </div>
</div>

<!-- FOOTER -->
<div th:insert="common/footer.html" class="footer"></div>

</body>
</html>