<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta charset="UTF-8">
    <title>UNPLUGGED</title>
    <link rel="stylesheet" th:href="@{/css/myinfo.css}">
</head>
<body>
<div th:insert="common/header.html" class="header"></div>

<div class="body">
    <div class="left">
        <div class="profile-info" th:each="gallery : ${galleryList}">
            <img class="check" src="${user.imgFullPath}" width="104" height="104"/>
        </div>
        <img id="target_img" src="/img/info_profile.png" width="104" height="104">
        <form name="signform" th:action="@{/myinfo}" method="post" enctype="multipart/form-data"
              action="./design_update.htm">
            <div class="profile-change">
                <input type="file" id="file" name="file" style="display:none;" onchange="changeValue(this)">
                <input type="hidden" name="target_url">
                <button class="change-btn">사진 변경</button>
            </div>
        </form>
    </div>
    <div class="right">
        <div class="info">
            <p class="info_text">이름</p>
            <p class="info_data"><span th:text="${user.userEntity.name}"></span></p>
        </div>
        <div class="info">
            <p class="info_text">성별</p>
            <p class="info_data"><span th:text="${user.userEntity.gender}"></span></p>
        </div>
        <div class="info">
            <p class="info_text">아이디</p>
            <p class="info_data"><span th:text="${user.userEntity.id}"></span></p>
        </div>
        <div class="info">
            <p class="info_text">학과</p>
            <p class="info_data"><span th:text="${user.userEntity.major}"></span></p>
        </div>
        <div class="info">
            <p class="info_text">학번</p>
            <p class="info_data"><span th:text="${user.userEntity.studentNum}"></span></p>
        </div>
        <div class="info">
            <p class="info_text">연락처</p>
            <p class="info_data"><span th:text="${user.userEntity.phone.substring(0,3)}"></span>
                <span>-</span><span th:text="${user.userEntity.phone.substring(3,7)}"></span>
                <span>-</span><span th:text="${user.userEntity.phone.substring(7,11)}"></span></p>
        </div>
        <div class="info">
            <p class="info_text">기수</p>
            <p class="info_data"><span th:text="${user.userEntity.year}"></span></p>
        </div>
        <div class="info">
            <p class="info_text">세션</p>
            <p class="info_data"><span th:text="${user.userEntity.session}"></span></p>
        </div>
        <div class="info">
            <p class="info_text">직책</p>
            <p class="info_data"><span th:text="${user.userEntity.position}"></span></p>
        </div>
        <div class="info">
            <p class="info_text">생년월일</p>
            <p class="info_data"><span th:text="${user.userEntity.birthday}"></span></p>
        </div>
        <div class="info">
            <p class="info_text">가입일</p>
            <p class="info_data"><span th:text="${user.userEntity.date}"></span></p>
        </div>
    </div>
</div>
<div class="btn-box">
    <button class="back-btn" onclick="location.href='/'">돌아가기</button>
</div>
<div th:insert="common/footer.html" class="footer"></div>
<script>

    $('#target_img').click(function (e) {
        document.signform.target_url.value = document.getElementById('target_img').src;
        e.preventDefault();
        $('#file').click();
    });
</script>
</body>
</html>