<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/signup.css}">
    <script src="/js/signup.js"></script>
</head>
<body>
<!-- HEADER -->
<div th:insert="common/header.html" class="header"></div>

<div class="areabox">

    <div class="slide">
        <div class="slide-div">

            <div class="slide-top">

                <div class="menu_top">
                    <span>UNPLUGGED</span>
                    <div class="div-close"><img src="/img/Close.png"/></div>
                </div>

                <div class="info">

                    <div class="profile">
                        <img src="/img/profile.png" width="51" height="51"/>
                    </div>

                    <div class="login">
                        <div class="msg">
                            <b>로그인이 필요합니다.</b>
                        </div>
                        <div class="choice">
                            <a sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
                            <a sec:authorize="isAuthenticated()" th:href="@{/user/info}">내정보</a>
                            <a sec:authorize="isAnonymous()" th:href="@{/user/signup}">회원가입</a>
                            <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
                        </div>
                    </div>

                </div>

            </div>

            <div class="slide-bottom">

                <div class="box1">
                    <dl>
                        <dt>동아리원</dt>
                        <ul class="menu-slide">
                            <li><a href="#"><span>공지사항</span></a></li>
                            <li><a href="#"><span>행사일정</span></a></li>
                            <li><a href="#"><span>투표하기</span></a></li>
                            <li><a href="#"><span>악보공유</span></a></li>
                            <li><a href="#"><span>장부확인</span></a></li>
                            <li><a href="#"><span>건의사항</span></a></li>
                        </ul>
                    </dl>
                </div>

                <div class="box1">
                    <dl>
                        <dt>간부</dt>
                        <ul class="menu-slide">
                            <li><a href="#"><span>가입승인</span></a></li>
                            <li><a href="#"><span>명단관리</span></a></li>
                        </ul>
                    </dl>
                </div>

            </div>
        </div>
        <div class="modal2">
        </div>
    </div>

    <div class="name">
        <d>이름</d><s>*</s>
        <input class="textarea" id="name" type="text" placeholder="이름 입력">
    </div>
    <div id="nameError" class="error"></div>
    <div class="id">
        <d>아이디</d><s>*</s>
        <input class="textarea" id="id" type="text" placeholder="아이디 입력">
    </div>
    <div id="idError" class="error"></div>
    <div class="pw">
        <d>비밀번호</d><s>*</s>
        <input class="textarea" id="pw" type="password" placeholder="비밀번호 입력">
    </div>
    <div id="pwError" class="error"></div>
    <div class="checkpw">
        <d>재확인</d><s>*</s>
        <input class="textarea" id="checkpw" type="password" placeholder="비밀번호 재입력">
    </div>
    <div id="checkpwError" class="error"></div>
    <div class="birthday">
        <d>생년월일</d><s>*</s>
        <input class="textarea" id="birthday" type="date" placeholder="생년월일 입력">
    </div>
    <div id="birthdayError" class="error"></div>
    <div class="phone">
        <d>연락처</d><s>*</s>
        <f>
        <input class="phonebox" id="phone1" type="text" maxlength="3" oninput="changePhone1()">
            -
        <input class="phonebox" id="phone2" type="text" maxlength="4" oninput="changePhone2()">
            -
        <input class="phonebox" id="phone3" type="text" maxlength="4" oninput="changePhone3()">
        </f>
    </div>
    <div id="phoneError" class="error"></div>
    <div class="studentNum">
        <d>학번</d><s>*</s><input class="textarea" id="studentNum" type="text" placeholder="학번 입력">
    </div>
    <div id="studentNumError" class="error"></div>
    <div class="major">
        <d>학과</d><s>*</s>
        <select class="textarea" id="major">
            <option selected disabled>학과 선택</option>
            <option>영화과</option>
            <option>뮤지컬과</option>
            <option>디자인학부</option>
            <option>패션디자인학과</option>
            <option>광고홍보학과</option>
            <option>건축학과</option>
            <option>방송영상학과</option>
            <option>게임학과</option>
            <option>영상애니메이션학과</option>
            <option>웹툰학과</option>
            <option>소프트웨어학과</option>
            <option>정보보안학과</option>
            <option>인공지능응용학과</option>
            <option>컴퓨터공학과</option>
            <option>전자공학과</option>
            <option>기계공학과</option>
            <option>건축공학과</option>
            <option>사회환경공학과</option>
            <option>경영학부</option>
            <option>국제통상학과</option>
            <option>국제물류학과</option>
            <option>영어학과</option>
            <option>일본어학과</option>
            <option>중국어학과</option>
            <option>호텔경영학과</option>
            <option>관광경영·컨벤션학과</option>
            <option>캠퍼스아시아학과</option>
            <option>보건행정학과</option>
            <option>임상병리학과</option>
            <option>간호학과</option>
            <option>치위생학과</option>
            <option>방사선학과</option>
            <option>작업치료학과</option>
            <option>운동처방학과</option>
            <option>체육학과</option>
            <option>식품영양학과</option>
            <option>화장품·신소재학과</option>
            <option>사회복지학과</option>
            <option>청소년상담심리학과</option>
            <option>경찰행정학과</option>
            <option>ITC융합공학과</option>
            <option>사회안전학과</option>
            <option>사회복지상담학과</option>
            <option>시니어운동처방학과</option>
            <option>스포츠레저산업학과</option>
            <option>실용컨텐츠창작학과</option>
        </select>
    </div>
    <div id="majorError" class="error"></div>
    <div class="year">
        <d>기수</d><s>*</s>
        <select class="textarea" id="year">
            <option selected disabled>기수 선택</option>
            <option>U01</option>
            <option>U02</option>
            <option>U03</option>
            <option>U04</option>
            <option>U05</option>
            <option>U06</option>
            <option>U07</option>
            <option>U08</option>
            <option>U09</option>
            <option>U10</option>
            <option>U11</option>
            <option>U12</option>
            <option>U13</option>
            <option>U14</option>
            <option>U15</option>
            <option>U16</option>
            <option>U17</option>
            <option>U18</option>
            <option>U19</option>
            <option>U20</option>
            <option>U21</option>
            <option>U2</option>
            <option>U23</option>
            <option>U24</option>
            <option>U25</option>
            <option>U26</option>
            <option>U27</option>
            <option>U28</option>
            <option>U29</option>
            <option>U30</option>
            <option>U31</option>
            <option>U32</option>
            <option>U33</option>
            <option>U34</option>
            <option>U35</option>
            <option>U36</option>
            <option>U37</option>
            <option>U38</option>
            <option>U39</option>
            <option>U40</option>
            <option>U41</option>
            <option>U42</option>
            <option>U43</option>
            <option>U44</option>
            <option>U45</option>
            <option>U46</option>
            <option>U47</option>
            <option>U48</option>
            <option>U49</option>
            <option>U50</option>
        </select>
    </div>
    <div id="yearError" class="error"></div>

    <div class="session">
        <d>세션</d><s>*</s>
        <select class="textarea" id="session">
            <option selected disabled>세션 선택</option>
            <option>보컬</option>
            <option>통기타</option>
            <option>일렉</option>
            <option>베이스</option>
            <option>건반</option>
            <option>드럼</option>
            <option>없음</option>
        </select>
    </div>
    <div id="sessionError" class="error"></div>

    <div class="position">
        <d>직급</d><s>*</s>
        <label><input id="position_manager" type="radio" name="position">간부</label>
        <label><input id="position_user" type="radio" name="position">동아리원</label>
    </div>
    <div id="positionError" class="error"></div>

    <div class="gender">
        <d>성별</d><s>*</s>
        <label><input id="gender_man" type="radio" name="gender">남자</label>
        <label><input id="gender_woman" type="radio" name="gender">여자</label>
    </div>
    <div id="genderError" class="error"></div>
    <div class="agree">
        약관동의
    </div>
</div>
<div class="signup">
    <button class="btn" id="signUpButton" onclick="signUpCheck()">가입하기</button>
</div>
<!--<script>-->
<!--    $(".major").click(function () {-->
<!--        $(".slide-div").animate({left: "0px"}, 500);-->
<!--        $(".modal2").show();-->
<!--    });-->

<!--    $(".div-close").click(function () {-->
<!--        $(".slide-div").animate({left: "-200px"}, 500);-->
<!--        $(".modal2").hide();-->
<!--    });-->

<!--    $(".modal").click(function () {-->
<!--        $(".slide-div").animate({left: "-200px"}, 500);-->
<!--        $(".modal2").hide();-->
<!--    });-->
<!--</script>-->
</body>
</html>