<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta charset="UTF-8">
    <title>UNPLUGGED</title>
    <link rel="stylesheet" th:href="@{/css/signup.css}">
    <script src="/js/signup.js"></script>
</head>
<body>
<form id="form" th:action="@{/signup}" method="post" modelAttribute="userDto">
    <!-- HEADER -->
    <div th:insert="common/header.html" class="header"></div>

    <!-- 학과 모달 -->
    <div class="major-modal">
        <div class="modal-top">
            <div class="modal-title">학과</div>
        </div>
        <div class="modal-select" id="major-select">
            <modal-text>임권택영화예술대학</modal-text>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="영화과">영화과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="뮤지컬과">뮤지컬과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="연기과">연기과</label>
            </modal-label>
            <modal-text>디자인대학</modal-text>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="디자인학부">디자인학부</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="패션디자인과">패션디자인과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="광고홍보학과">광고홍보학과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="건축학과">건축학과</label>
            </modal-label>
            <modal-text>미디어콘텐츠대학</modal-text>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="방송영상학과">방송영상학과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="게임학과">게임학과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check"
                                       value="영상애니메이션학과">영상애니메이션학과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="웹툰학과">웹툰학과</label>
            </modal-label>
            <modal-text>소프트웨어융합대학</modal-text>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="소프트웨어학과">소프트웨어학과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="정보보안학과">정보보안학과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check"
                                       value="인공지능응용학과">인공지능응용학과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="컴퓨터공학과">컴퓨터공학과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="전자공학과">전자공학과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="기계공학과">기계공학과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="건축공학과">건축공학과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="사회환경공학과">사회환경공학과</label>
            </modal-label>
            <modal-text>글로벌비즈니스대학</modal-text>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="경영학부">경영학부</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="국제통상학과">국제통상학과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="국제물류학과">국제물류학과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="영어학과">영어학과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="일본어학과">일본어학과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="중국어학과">중국어학과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="호텔경영학과">호텔경영학과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check"
                                       value="관광경영·컨벤션학과">관광경영·컨벤션학과</label>
            </modal-label>
            <modal-text>International College</modal-text>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check"
                                       value="캠퍼스아시아학과">캠퍼스아시아학과</label>
            </modal-label>
            <modal-text>바이오헬스융합대학</modal-text>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="보건행정학과">보건행정학과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="임상병리학과">임상병리학과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="간호학과">간호학과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="치위생학과">치위생학과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="방사선학과">방사선학과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="작업치료학과">작업치료학과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="운동처방학과">운동처방학과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="체육학과">체육학과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="식품영양학과">식품영양학과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check"
                                       value="화장품·신소재학과">화장품·신소재학과</label>
            </modal-label>
            <modal-text>사회과학대학</modal-text>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="사회복지학과">사회복지학과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check"
                                       value="청소년상담심리학과">청소년상담심리학과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="경찰행정학과">경찰행정학과</label>
            </modal-label>
            <modal-text>미래커리어대학</modal-text>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check"
                                       value="ICT융합공학과">ICT융합공학과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check" value="사회안전학과">사회안전학과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check"
                                       value="사회복지상담학과">사회복지상담학과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check"
                                       value="시니어운동처방학과">시니어운동처방학과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check"
                                       value="스포츠레저산업학과">스포츠레저산업학과</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="major-check"
                                       value="실용콘텐츠창작학과">실용콘텐츠창작학과</label>
            </modal-label>
        </div>
        <div class="modal-choice">
            <a class="modal-btn" id="major-btn" onclick="getMajor()"><label class="modal-check">선택완료</label></a>
        </div>
    </div>

    <!-- 기수 모달 -->
    <div class="year-modal">
        <div class="modal-top">
            <div class="modal-title">기수</div>
        </div>
        <div class="modal-select">
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U01">U01</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U02">U02</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U03">U03</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U04">U04</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U05">U05</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U06">U06</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U07">U07</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U08">U08</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U09">U09</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U10">U10</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U11">U11</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U12">U12</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U13">U13</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U14">U14</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U15">U15</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U16">U16</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U17">U17</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U18">U18</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U19">U19</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U20">U20</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U21">U21</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U22">U22</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U23">U23</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U24">U24</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U25">U25</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" VALUE="U26">U26</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U27">U27</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U28">U28</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U29">U29</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U30">U30</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U31">U31</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U32">U32</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U33">U33</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U34">U34</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U35">U35</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U36">U36</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U37">U37</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U38">U38</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U39">U39</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U40">U40</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U41">U41</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U42">U42</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U43">U43</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U44">U44</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U45">U45</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U46">U46</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U47">U47</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U48">U48</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U49">U49</label>
            </modal-label>
            <modal-label><label><input class="radiobtn" type="radio" name="year-check" value="U50">U50</label>
            </modal-label>
        </div>
        <div class="modal-choice">
            <a class="modal-btn" id="year-btn" onclick="getYear()"><label class="modal-check">선택완료</label></a>
        </div>
    </div>


    <!-- 세션 모달 -->
    <div class="session-modal">
        <div class="modal-top">
            <div class="modal-title">세션</div>
        </div>
        <div class="modal-select">
            <modal-cklabel><label><input class="checkbox" type="checkbox" name="session-check" value="보컬">보컬</label>
            </modal-cklabel>
            <modal-cklabel><label><input class="checkbox" type="checkbox" name="session-check" value="통기타">통기타</label>
            </modal-cklabel>
            <modal-cklabel><label><input class="checkbox" type="checkbox" name="session-check" value="일렉">일렉</label>
            </modal-cklabel>
            <modal-cklabel><label><input class="checkbox" type="checkbox" name="session-check" value="베이스">베이스</label>
            </modal-cklabel>
            <modal-cklabel><label><input class="checkbox" type="checkbox" name="session-check" value="건반">건반</label>
            </modal-cklabel>
            <modal-cklabel><label><input class="checkbox" type="checkbox" name="session-check" value="드럼">드럼</label>
            </modal-cklabel>
            <modal-cklabel><label><input class="blockbox" type="checkbox" name="session-check" value="없음">없음</label>
            </modal-cklabel>
        </div>
        <div class="modal-choice">
            <a class="modal-btn" id="session-btn" onclick="getSession()"><label class="modal-check">선택완료</label></a>
        </div>
    </div>

    <div class="body">
        <div class="areabox">
            <div class="name">
                <d>이름</d>
                <s>*</s>
                <input class="textarea" id="name" name="name" type="text" placeholder="이름 입력">
            </div>
            <div id="nameError" class="error"></div>

            <div class="id">
                <d>아이디</d>
                <s>*</s>
                <input class="textarea" id="id" name="id" type="text" placeholder="아이디 입력">
            </div>
            <div id="idError" class="error"></div>

            <div class="pw">
                <d>비밀번호</d>
                <s>*</s>
                <input class="textarea" id="pw" name="pw" type="password" placeholder="비밀번호 입력">
            </div>
            <div id="pwError" class="pwerror"></div>

            <div class="checkpw">
                <d>재확인</d>
                <s>*</s>
                <input class="textarea" id="checkpw" name="checkpw" type="password" placeholder="비밀번호 재입력">
            </div>
            <div id="checkpwError" class="pwerror"></div>

            <div class="birthday">
                <d>생년월일</d>
                <s>*</s>
                <input class="textarea" id="birthday" name="birthday" type="date">
            </div>
            <div id="birthdayError" class="error"></div>

            <div class="phone">
                <d>연락처</d>
                <s>*</s>
                <input class="textarea" id="phone" name="phone" type="text" maxlength="11" oninput="changePhone()"
                       placeholder="-제외하고 입력">
            </div>
            <div id="phoneError" class="error"></div>

            <div class="studentNum">
                <d>학번</d>
                <s>*</s><input class="textarea" id="studentNum" name="studentNum" type="text" placeholder="학번 입력"
                               maxlength="8"
                               oninput="changeStudentNum()">
            </div>
            <div id="studentNumError" class="error"></div>

            <div class="major">
                <d>학과</d>
                <s>*</s>
                <input class="textarea" id="major" name="major" type="text" placeholder="학과 선택" readonly>
            </div>
            <div id="majorError" class="error"></div>

            <div class="year">
                <d>기수</d>
                <s>*</s>
                <input class="textarea" id="year" name="year" type="text" placeholder="기수 선택" readonly>
            </div>
            <div id="yearError" class="error"></div>

            <div class="session">
                <d>세션</d>
                <s>*</s>
                <input class="textarea" id="session" name="session" type="text" placeholder="세션 선택" readonly>
            </div>
            <div id="sessionError" class="error"></div>

            <div class="position" id="position">
                <d>직급</d>
                <s>*</s>
                <label class="rdobtn"><input id="position_manager" type="radio" name="position"
                                             value="간부"><span>간부</span></label>
                <label class="rdobtn"><input id="position_user" type="radio" name="position"
                                             value="동아리원"><span>동아리원</span></label>
            </div>
            <div id="positionError" class="error"></div>

            <div class="gender">
                <d>성별</d>
                <s>*</s>
                <label class="rdobtn"><input id="gender_man" type="radio" name="gender"
                                             value="남"><span>남자</span></label>
                <label class="rdobtn"><input id="gender_woman" type="radio" name="gender"
                                             value="여"><span>여자</span></label>
            </div>
            <div id="genderError" class="error"></div>

            <div class="agree">
                약관동의
            </div>
        </div>

        <div class="signup">
            <a class="btn" id="signup_submit" onclick="javascript:signUpCheck()"><label
                    class="check-btn">가입하기</label></a>
        </div>
    </div>

    <div class="modal2">
    </div>
</form>
<script>

    //비밀번호 실시간 확인
    $(function () {
        $('#pw').keyup(function () {
            $('#checkpwError').html('');

            if ($('#pw').val() !== $('#checkpw').val()) {
                $('#pwError').html('');
                $('#checkpwError').html('비밀번호가 동일하지 않습니다.');
                document.getElementById("checkpwError").style.color = "rgba(248,42,42,0.7)";
            } else if ($('#pw').val() === $('#checkpw').val() && $('#pw').val() !== "" && $('#checkpw').val() !== "") {
                $('#pwError').html('');
                $('#checkpwError').html('비밀번호 일치함');
                document.getElementById("checkpwError").style.color = "rgba(16,201,197,0.7)";
            }
        });


        $('#checkpw').keyup(function () {

            if ($('#pw').val() !== $('#checkpw').val()) {
                $('#pwError').html('');
                $('#checkpwError').html('비밀번호가 동일하지 않습니다.');
                document.getElementById("checkpwError").style.color = "rgba(248,42,42,0.7)";
            } else if ($('#pw').val() === "" && $('#checkpw').val() === "") {
                $('#pwError').html('');
                $('#checkpwError').html('비밀번호를 입력하세요.');
                document.getElementById("checkpwError").style.color = "rgba(248,42,42,0.7)";
            } else if ($('#pw').val() === $('#checkpw').val() && $('#pw').val() !== "" && $('#checkpw').val() !== "") {
                $('#checkpwError').html('비밀번호 일치함');
                document.getElementById("checkpwError").style.color = "rgba(16,201,197,0.7)";
            }

        });

        $('#name').keyup(function () {
            $('#nameError').html('');
        });

        $('#id').keyup(function () {
            $('#idError').html('');
        });
        $('#phone').keyup(function () {
            $('#phoneError').html('');
        });
        $('#studentNum').keyup(function () {
            $('#studentNumError').html('');
        });

    });

    // noinspection JSJQueryEfficiency
    $("#major").click(function () {
        $(".major-modal").show();
        $(".modal2").show();
        $('#majorError').html('');
    });

    // noinspection JSJQueryEfficiency
    $("#year").click(function () {
        $(".year-modal").show();
        $(".modal2").show();
        $('#yearError').html('');
    });

    // noinspection JSJQueryEfficiency
    $("#session").click(function () {
        $(".session-modal").show();
        $(".modal2").show();
        $('#sessionError').html('');
    });

    // noinspection JSJQueryEfficiency
    $(".modal2").click(function () {
        $(".major-modal").hide();
        $(".year-modal").hide();
        $(".session-modal").hide();
        $(".modal2").hide();
    });

    $(document).ready(function () {

        $('.blockbox').click(function () { //전체선택 체크
            const chk = $(this).is(":checked"); //전체선택의 체크 여부 확인
            if (chk) { //전체선택이 체크 되었다면
                $('.checkbox').each(function () {
                    const disabled = $(this).prop("disabled"); //비활성화 여부 체크
                    if (!disabled) { //비활성화가 아니라면
                        $(this).prop('disabled', true); //비활성화 실행
                        $(this).prop('checked', false);
                    }
                });
            } else {//전체선택이 체크되지 않았다면
                $('.checkbox').prop('disabled', false); //전체 체크 풀기 (체크 푸는건 모두 해도 상관 없음)
            }
        });

    });

    document.getElementById("title").innerText = "회원가입";


    function getMajor() {
        // 선택된 목록 가져오기
        const query = 'input[name="major-check"]:checked';
        const selectedEls =
            document.querySelectorAll(query);

        // 선택된 목록에서 value 찾기
        let result = '';
        selectedEls.forEach((el) => {
            result = el.value;
        });

        document.getElementById("year").focus();
        $("#major").val(result)
        $(".major-modal").hide();
        $(".modal2").hide();

    }

    function getYear() {
        // 선택된 목록 가져오기
        const query = 'input[name="year-check"]:checked';
        const selectedEls =
            document.querySelectorAll(query);

        // 선택된 목록에서 value 찾기
        let result = '';
        selectedEls.forEach((el) => {
            result += el.value;
        });
        document.getElementById("session").focus();
        $("#year").val(result)
        $(".year-modal").hide();
        $(".modal2").hide();

    }

    function getSession() {
        // 선택된 목록 가져오기
        const query = 'input[name="session-check"]:checked';
        const selectedEls =
            document.querySelectorAll(query);

        // 선택된 목록에서 value 찾기
        let result = '';
        selectedEls.forEach((el) => {
            result += el.value;
        });
        $("#session").val(result)
        $(".session-modal").hide();
        $(".modal2").hide();

    }

</script>
</body>
</html>