.form {
    padding: 9px 18px;
    top: 62px;
    left: 0;
    right: 0;
    bottom: 30px;
    position: absolute;
}


.textarea {
    padding-left: 10px;
    background-color: rgba(214, 228, 255, 0.5);
    border-radius: 20px;
    width: 100%;
    height: 40px;
    border: solid black 1px;
    margin: 5px 0;
}

.idbox {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pwbox {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    width: 100%;
    display: block;
    border: 1px solid black;
    background: #D6E4FF;
    height: 54px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0;
}

label {
    width: 95%;
}

.check {
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
    margin: 5px 0 10px 0;
}

.text {
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.empty {
    width: 100%;
    height: 30%;
}