.box {
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    padding: 9px 18px;
}

.main {
    padding: 9px 18px;
    top: 62px;
    left: 0;
    right: 0;
    bottom: 30px;
    position: absolute;
}

body {
    font-size: 14px;
    background-color: #F6F6F6;
}

li span {
    font-weight: bold;
}

dt {
    margin-top: 18px;
    width: 100%;
}

.notice {
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    border: 1px solid #F6F6F6;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 0 18px 18px 18px;
    overflow: auto;
    position: relative;
}

li {
    padding: 30px 10px 0;
}

.plus {
    font-weight: normal;
    font-size: 10px;
    color: blue;
    display: flex;
    align-content: flex-end;
}

.main_text {
    border-bottom: solid black 1px;
}