.check {
    border: solid 1px black;
    width: 100%;
    height: 100%;
}

.left {
    width: 30%;
    height: 100%;
    float: left;
}

.right {
    height: 100%;
    width: 70%;
    float: right;
}

.info {
    width: 100%;
    float: left;
    margin-bottom: 15px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.info_text {
    font-size: 18px;
    font-weight: bold;
    width: 40%;
    float: left;
}

.info_data {
    width: 60%;
    font-size: 18px;
    float: right;
    display: flex;
    margin-left: 5px;
}

.profile-info {
    width: 100%;
}

.body {
    padding: 9px 18px;
    top: 62px;
    left: 0;
    right: 0;
    bottom: 84px;
    position: absolute;
}

.change-btn {
    width: 100%;
    border: 1px solid black;
    background: #D6E4FF;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

.back-btn {
    width: 95%;
    display: block;
    border: 1px solid black;
    background: #D6E4FF;
    height: 54px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
}

.btn-box {
    width: 100%;
    bottom: 30px;
    position: absolute;
}